/* Theme Classes */
.dark {
  --bg-color: rgb(27, 25, 25);
  --bg-gradient: rgba(49, 47, 47, 0.8);
  --primary-1: black;
  --primary-2: rgb(87, 107, 135);
  --primary-3: rgb(164, 179, 201);
  --primary-4: white;
  --watchPageBtn: var(--primary-3);
}

.light {
  --bg-color: #f4f7fe;
  --bg-gradient: rgba(238, 235, 235, 0.8);
  --primary-1: rgb(255, 255, 255);
  --primary-2: #64748b;
  --primary-3: #52525b;
  --primary-4: black;
  --watchPageBtn: var(--primary-1);
}

.charcoal {
  --bg-color: #2c3e50;
  --bg-gradient: rgba(44, 62, 80, 0.8);
  --primary-1: #34495e;
  --primary-2: #95a5a6;
  --primary-3: #ecf0f1;
  --primary-4: white;
  --watchPageBtn: var(--primary-3);
}

.evergreen {
  --bg-color: #2f3e46;
  --bg-gradient: rgba(47, 62, 70, 0.8);
  --primary-1: #354f52;
  --primary-2: #52796f;
  --primary-3: #84a98c;
  --primary-4: #cad2c5;
  --watchPageBtn: var(--primary-3);
}

.midnight {
  --bg-color: #0a192f;
  --bg-gradient: rgba(10, 25, 47, 0.8);
  --primary-1: #112240;
  --primary-2: #8892b0;
  --primary-3: #ccd6f6;
  --primary-4: #e6f1ff;
  --watchPageBtn: var(--primary-3);
}

.aurora {
  --bg-color: #232946;
  --bg-gradient: rgba(35, 41, 70, 0.8);
  --primary-1: #121629;
  --primary-2: #b8c1ec;
  --primary-3: #eebbc3;
  --primary-4: #fffffe;
  --watchPageBtn: var(--primary-3);
}

.obsidian {
  --bg-color: #22272e;
  --bg-gradient: rgba(34, 39, 46, 0.8);
  --primary-1: #2d333b;
  --primary-2: #768390;
  --primary-3: #adbac7;
  --primary-4: #cdd9e5;
  --watchPageBtn: var(--primary-3);
}

.oyster {
  --bg-color: #f2f7f5;
  --bg-gradient: rgba(242, 247, 245, 0.8);
  --primary-1: #d1d1e1;
  --primary-2: #e3d5ca;
  --primary-3: #475d5b;
  --primary-4: #00473e;
  --watchPageBtn: var(--primary-3);
}

.arctic {
  --bg-color: #e3f6f5;
  --bg-gradient: rgba(227, 246, 245, 0.8);
  --primary-1: #bae8e8;
  --primary-2: #2d334a;
  --primary-3: #272343;
  --primary-4: #001858;
  --watchPageBtn: var(--primary-3);
}

/* Global Styles */
.mainContent {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: calc(100% - 64px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.75rem;
  background-color: var(--background);
  color: var(--text);
  margin-left: 64px;
  scrollbar-width: thin;
  scrollbar-color: rgba(128, 128, 128, 0.3) transparent;
}

.mainContent::-webkit-scrollbar {
  width: 8px;
}

.mainContent::-webkit-scrollbar-track {
  background: transparent;
}

.mainContent::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 4px;
}
